
h2 {font-size: 25px;
  font-weight: bold;}

.title h1{
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  padding-top: 35px;
}

.title h2{
  font-size: 25px;
  font-weight: bold;
  text-align: center;
}

.center {
  margin: auto;
  width: 80%;
  padding: 10px;
}

.no_outline {
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: hidden;
 }

.no_outline:focus {
  outline: none;
}

.totalhours {
  font-size: 25px;
  font-weight: bold;
  color: rgb(255, 74, 74);
  display: inline-block;
  vertical-align: middle;  
} 

.inline{
  display: inline-block;
  vertical-align: baseline;
  padding-right: 10px; 
}
.border{
  border: 520px solid black;
  border-radius: 10px;
  
}

.right{
  float:right;
}

.left{
  float:left;
}

#container {
  width: 800px;
  margin: 0 auto;
}
